@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

:root {
    --primary-color: #FF6380;
    --dark-gray: #64748b;
    --off-white: #F3F4F6;
}

.container{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.container-center{
    max-width: 600px;
    margin:auto;
}

.link-primary{
    background-color : var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.link-secondary{
    color : var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
}

hr{
    margin: 2rem 0rem;
}

.list-non-bullet{
    list-style-type: none;
    padding-inline-start: 0%;
}

.center-align{
    text-align: center;
    padding-inline-start: 0px;
}

.list-item-inline { 
    display: inline;
    padding: 0rem 0.5rem;
}

.navigation{
    color: white;
    background-color: var(--primary-color);
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .link{
    color: white;
   
}

.navigation .link-active{
    font-weight: bold;
}

.nav-pills {
    color: white;
    text-align: right;
}

.hero{
    padding: 2rem;
    text-align: center;
}

.hero .hero-img {
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading{
    padding-top: 1rem;
    font-size: x-large;
    color: var(--dark-gray);
    text-align: center;
}

.hero .hero-heading .hero-heading-inverted{
    color: var(--primary-color);
}

.section h3{
    text-align: center;
    padding: 0.5rem;
    
}


.section {
    padding: 1rem;
}

.ow {
    background-color: var(--off-white);;
}

footer{
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;

}

.footer .footer-header{
font-size: large;
font-weight: bold;
}

.footer .link{
    color: white;
}

.footer ul{
    padding-inline-start: 0px;
}

.nav-brand{
    font-weight: bold;
}

.heading-inverted{
    color: var(--primary-color);
}

a{
    margin-right: 1rem;
}